* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

.nav-menu {
    background-color: #e0c173;
    overflow: hidden;
    color: #000000;
    text-align: center;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    padding: 5px;
    width: 100%;
}

.nav-menu a {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    padding: 30px 30px;
    font-family: "Poppins", sans-serif;
    color: #000000;
}

.nav-menu a:hover {
    color: white;
}

.icon {
    visibility: hidden;
}

.hero {
    width: 100%;
    background-image: url(./Images/Key\ in\ door.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    padding: 50px;
}

.hero h1 {
    font-size: 40px;
    background-color: #e0c173;
    border: 5px solid black;
    padding: 10px
}

.hero h2 {
    padding: 50px;
}

.meetYourAgent {
    padding: 50px;
}

.aboutMeheader {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    padding: 25px;

}

.headshot {
    text-align: center;
    padding: 25px;
}

.aboutme {
    text-align: center;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    padding: 25px;
}

.stagingtips,
.dog {
    text-align: center;
    width: 100%;
}

footer {
    justify-content: center;
    background-color: #e0c173;
    color: #000000;
    font-size: 24px;
    border-top: 5px solid #000000;
    width: 100%;
    padding: 10px
}

.footerContainer {
    background-color: #e0c173;
    display: flex;
    justify-content: center;
    gap: 18px;
    width: 100%
}



@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: #e0c173;
        width: 100%;
        justify-content: flex-start;
        max-height: 150px;
    }

    .nav-menu a {
        display: none;
    }

    .nav-menu a.icon {
        float: right;
        display: block;
        visibility: visible;
    }

    @media screen and (max-width: 768px) {
        .nav-menu.responsive {
            position: relative;
            display: flex;
            flex-direction: column;
        }

        .nav-menu.responsive.a.icon {
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    .nav-menu.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

}