* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

.nav {
    background-color:#e0c173;
    color:#000000;
    list-style: none;
    text-align: center;
    border-bottom: 5px solid #000000;
    padding: 0;
    position: fixed;
    width: 100%;
    font-size: 0  
}

.nav > li {
    display: inline-block;
    padding: 0 25px 0 25px;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.nav > li > a {
    text-decoration: none;
    color: #000000;
}

.nav > li > a:hover {
    color: white
}

.header1 {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 24px
}

.headshot {
    text-align: center;
    box-shadow: 20px, 20px, #000000
}

.aboutme {
    text-align: center;
    font-size: 24px;
    font-family: "Poppins", sans-serif;

}

.flyer1,
.stagingtips,
.dog {
    text-align: center;
    width: 100%;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #e0c173;
    color: #000000;
    font-size: 24px; 
    width: 100%;
    border-top: 5px solid #000000;
    margin: 0;
    padding: 0;
  }

  footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 0;
    margin: 0;
  }

.socials {
    text-decoration: none;
    border: none;
    color: #000000;
    
}

  